<div class="sobre" *ngIf="ver">
  <mat-spinner class="girar" color="accent"></mat-spinner>  
</div>
<div class="contenedor" id="padre">
  <p id="prueba" class="texto">Calendario obligaciones 2019</p>
</div>

  <mat-toolbar color="primary" id="header">
    <span>My Application</span>
    <button mat-button color="primary" (click)="verSpinner()">Primary</button>
    <button mat-button color="accent">Accent</button>
    <button mat-button color="warn">Warn</button>
    <button mat-button disabled>Disabled</button>
    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
  </mat-toolbar>
  <div class="main"></div>
